header{
    display: flex;
    justify-content: flex-end;
}
div.theme{
    flex-direction: row;
    margin:20px 30px 10px 0px;


}
#links{
    display: flex;
    position: relative;
    bottom: 50px;
}
.footerImg{
    padding-left: 10px;
}
footer{
    margin:20px 30px 40px 40px;

}
#family{
    background: lightgray;
    width: 500px;



}
#taraba{
    display: flex;
    justify-content: space-between;
}
.first{
    color: lightgray;



}
.second{

    color:orange;

}
.container{
    padding-left:60px;
}
input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
}
#logIn{

    color:orange;
    font-weight: bold;
    font-size: 50px;

}
#logInBtn{
    color:white;
    background: orange;
    font-size: large;
    border:2px solid orange;
    border-radius: 10px;
    padding:10px 30px;
}
#slika{
    position: relative;
    left:880px;
    width:500px;
    bottom:440px;
}
#sign{
    border:2px solid orange;
    border-radius: 10px;
    font-size: large;
    padding:5px 10px;
    position: relative;
    bottom:13px;
    text-decoration: none;

}
#log{
    text-decoration: underline;
    color:orange;
}
#lostpsw,#resend,#signIN{
    color: orange;
}

#divRemember{
    position: relative;
    bottom: 15px;
    left:60px;
}
#remember{
    position: relative;
    right: 200px;
    top:10px;
}
.dark-mode {
    background-color: black;
    color: white;
}